<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Admin - Welcome</title>
</head>
<body>
<h1 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
<p>This is the coach console and restricted to coaches.</p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>


<!--
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Fitness - Login</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    >
    <head>
        <title>Admin - Welcome</title>
    </head>
    <body>
    <h1 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
    <p>This console is restricted to you as a coach only.</p>

    <p>Click <a th:href="@{/newUser}">here</a> to add a client.</p>
    <p>Click <a th:href="@{/client/getall}">here</a> to see all your clients.</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </body>
    </html>
</div>
-->
