<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Fitness Webapp</title>
</head>
<body>
<h1>Welcome to the Fitness webapp!</h1>
<!--<p>Click <a th:href="@{/application}">here</a> to continue to without login.</p>-->
<p>Click <a th:href="@{/clientpage}">here</a> if you are a client.</p>
<p>Click <a th:href="@{/coachpage}">here</a> if you are a coach.</p>
<p>Click <a th:href="@{/adminpage}">here</a> to continue to the admin console.</p>

</body>
</html>