<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Fitness Webapp</title>
</head>
<body>
<h1>Welcome to the FitnessApp!</h1>
<p>Click <a th:href="@{/application}">here</a> to continue without login.</p>
<p>Click <a th:href="@{/clientpage}">here</a> if you are a CLIENT.</p>
<p>Click <a th:href="@{/coachpage}">here</a> if you are a COACH.</p>
<p>Click <a th:href="@{/adminpage}">here</a> to continue as ADMIN.</p>
<p>Click <a th:href="@{/logout}">here</a> to logout</p>

</body>
</html>